<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produkty</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="products.css">
</head>
<body>
    <div th:replace="fragments.html :: logo"></div>
    <div th:replace="fragments.html :: menu"></div>
<div class="products" th:each="product : ${productDatabase}">
    <div class="product-name" th:text="${product.name}"></div>
    <div class="product-quantity" th:text="'Ilość: ' + ${product.quantity}"></div>
    <div class="product-code" th:text="'Kod produktu: ' + ${product.code}"></div>
    <a th:if="${product.quantity > 0}" th:href="@{/basket/add/product/{id}(id=${product.id})}" class="add-to-basket">Dodaj do koszyka</a>
    <a th:if="${product.quantity <= 0}" class="add-to-basket">Niedostępny</a>
</div>
</body>
</html>